/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		background: url(../img/bg.jpg);
		background-size: 100%;
		background-attachment: fixed;
	}




@blue: #003373;
@white: #FFFFFF;

.opacity(@alpha: 0.1) {
  background-color: rgba(0,0,0,@alpha); 
}

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}

.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}

.rounded(@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.columns(@colcount: 3, @colgap: 1em) {
	-moz-column-count: @colcount;
	-moz-column-gap: @colgap;
	-webkit-column-count: @colcount;
	-webkit-column-gap: @colgap;
	column-count: @colcount;
	column-gap: @colgap;
}

@border: 1px solid gray;

.border {
  border: @border;
}









#primarynav ul {
  width: 100%;
  margin: 0;
  height: 49px;
  text-transform: uppercase;
  .gradient(@blue, lighten(@blue, 5%), lighten(@blue, 10%));
  font-size: 1.1em;
  
  
  li {
    display: block;
    
    a {
      color: @white;
      text-decoration: none;
    }
  }
}


.flexslider li {
  margin-bottom: 0;
}


#secondarynav ul {
  margin: 0;
  height: 1.5em;
  .opacity(0.5);
  .rounded;
  float: right;
  
  li {
    margin: 0 1em;
    float: left;
  }
}


#page {
  background-color: @white;
  .drop-shadow;
}

#logo {
  display: block;
  overflow: hidden;
  background: url(../img/logo.png) no-repeat;
  text-indent: -9999px;
  background-size: contain;
  width: 100%;
  height: 96px;
}


nav.inline ul {
  list-style: none;
  
  li {
  float: left;
  margin: 1em;
  }
}




.feature1 {
  position: relative;
  margin-bottom: 1em;

    img {
  margin: 0;
  padding: 0;
  }
}

.feature1 p.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,1);
  margin: 0px;
  color: #FFF;
}





#tabs {
  .rounded;
  .border;
  padding: 0;
  margin-left: 1em;
  
  .ui-tabs-nav {
    .opacity;
    border-bottom: @border;
    padding: 0;
    
    
    li {
      margin: 0;
      padding: 0;
    }
    
    .ui-tabs-active {
    
      
      a {
        background-color: #ccc;
      }
      
      &:first-child a {
        .border-radius(0,0,0,5px);
      }
    }
  }
  
  .ui-tabs-panel {
    padding: 0;
  
  ul {
    list-style: none;
    margin: 0;
    
    li {
      position: relative;
      border-bottom: @border;
      margin: 0;
      
      &.last {
        border-bottom: none;
        
        a {
          .border-radius(0,5px,5px,0);
        }
      }
      
      a {
        padding: 1em;
        .gradient;
        color: #000;
        text-decoration: none;
        display: block;
        
        &:hover {
          .gradient(@start: #CCC, @end: #EEE);
        }
        
        h2 {
          font-size: 1.2em;
          color: @blue;
          margin-top: 0;
        }
        
        img {
          width: 75px;
          height: 75px;
          float: left;
          margin-right: 1em;
        }
      }
    }
  }
}
}







#social {
	.columns;
	
	color: @blue;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  
  span {
    margin-right: 0.5qem;
  }

  ul {
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: @blue;
      
      
        &.facebook:before {
          content: url(../img/facebook.png);
        }
        &.linkedin:before {
          content: url(../img/linkedin.png);
        }
        &.twitter:before {
          content: url(../img/twitter.png);
        }
        &.vimeo:before {
          content: url(../img/vimeo.png);
        }
        &.smugmug:before {
          content: url(../img/smugmug.png);
        }
        &.youtube:before {
          content: url(../img/youtube.png);
        }
        &.googleplus:before {
          content: url(../img/googleplus.png);
        }
        &:hover {
          
        }
      }
    }
  }
}



.feature2 {
  background-color: lighten(@blue, 70%);
  padding: 1em;
  margin: 0 1em 0 0;
  .rounded;
}

#mission-footer {
  background-color: darken(@blue, 20%);
  padding: 1em;
  .rounded;
  .opacity(0.3);
  
  img {
    width: 100%;
  }
}



.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
/*
.clearfix {
	display: inline-block;
}
*/

html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
 

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}